<div class="container">
  <h1>Product Management</h1>
  <!-- Category Filter Dropdown -->
  <div class="form-group">
    <label for="categoryFilter">Filter by Category:</label>
    <select id="categoryFilter" class="form-control" [(ngModel)]="selectedCategoryId" (change)="filterByCategory()">
      <option [value]="null">All Categories</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
    </select>
  </div>
  <h2>Product List</h2>
  <div>
    <p>Debug - Number of products: {{products.length}}</p>
    <p>Selected Category ID (for Debug): {{ selectedCategoryId }}</p>
  </div>



  <!-- Inventory Movement Button -->
  <button class="btn btn-info" (click)="openInventoryModal()">View Inventory History</button>

  <!-- Inventory Movement Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="inventoryModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Inventory Movement History</h5>
          <button type="button" class="close" (click)="closeInventoryModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Type</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of this.stockTransactions">
              <td>{{ transaction.transactionId }}</td>
              <td>{{ transaction.productTitle }}</td>
              <td>{{ transaction.quantity }}</td>
              <td>{{ transaction.transactionType }}</td>
              <td>{{ transaction.transactionDate }}</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeInventoryModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock Quantity</th>
      <th>Category</th>
      <th>Supplier</th>
      <th>Actions</th> <!-- New column for actions -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of filteredProducts" (dblclick)="openEditModal(product)">
      <td>{{product.productId}}</td>
      <td>{{product.title}}</td>
      <td>{{product.author}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stockQuantity}}</td>
      <td>{{product.category?.name}}</td>
      <td>{{product.supplier?.name}}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="confirmDeleteProduct(product.productId)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal" tabindex="-1" role="dialog" id="editProductModal" #editProductModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Product</h5>
          <button type="button" class="close" (click)="closeEditModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editProductForm="ngForm" (ngSubmit)="OnUpdateProduct()">
            <div class="form-group">
              <label for="editTitle">Name:</label>
              <input type="text" id="editTitle" name="title" required [(ngModel)]="selectedProduct.title" class="form-control">
            </div>

            <div class="form-group">
              <label for="editAuthor">Author:</label>
              <input type="text" id="editAuthor" name="author" [(ngModel)]="selectedProduct.author" class="form-control">
            </div>

            <div class="form-group">
              <label for="editDescription">Description:</label>
              <input type="text" id="editDescription" name="description" [(ngModel)]="selectedProduct.description" class="form-control">
            </div>

            <div class="form-group">
              <label for="editPrice">Price:</label>
              <input type="number" id="editPrice" name="price" required [(ngModel)]="selectedProduct.price" class="form-control">
            </div>

            <div class="form-group">
              <label for="editStockQuantity">Stock Quantity:</label>
              <input type="number" id="editStockQuantity" name="stockQuantity" required [(ngModel)]="selectedProduct.stockQuantity" class="form-control">
            </div>

            <div class="form-group">
              <label for="editCategoryName">Category:</label>
              <input type="text" id="editCategoryName" name="categoryName" required [(ngModel)]="selectedProduct.category.name" class="form-control">
            </div>

            <div class="form-group">
              <label for="editSupplierName">Supplier:</label>
              <input type="text" id="editSupplierName" name="supplierName" required [(ngModel)]="selectedProduct.supplier.name" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="OnUpdateProduct()">Save changes</button>
          <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Add New Product</h2>
  <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="title" required [(ngModel)]="newProduct.title" class="form-control">
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" [(ngModel)]="newProduct.author" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" [(ngModel)]="newProduct.description" class="form-control">
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" required [(ngModel)]="newProduct.price" class="form-control">
    </div>

    <div class="form-group">
      <label for="stockQuantity">Stock Quantity:</label>
      <input type="number" id="stockQuantity" name="stockQuantity" required [(ngModel)]="newProduct.stockQuantity" class="form-control">
    </div>

    <div class="form-group">
      <label for="categoryName">Category:</label>
      <input type="text" id="categoryName" name="categoryName" required [(ngModel)]="newProduct.category.name" class="form-control">
    </div>

    <div class="form-group">
      <label for="supplierName">Supplier:</label>
      <input type="text" id="supplierName" name="supplierName" required [(ngModel)]="newProduct.supplier.name" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>
